RewriteEngine on
RewriteRule ^(.*) public/$1 [L]

#	^	begins the line to match.
#	$	ends the line to match.
#	.	Matches any single character
#	+	Repeats the previous match one or more times
#	*	Repeats the previous match zero or more times
#	?	Makes the match optional
#	\	Escape the next character
#	( )	Groups several characters into a single unit, and captures a match for use in a backreference